.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
  }
  
  .navbar-title {
    cursor: pointer;
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    gap: 10px;
  }
  
  .navbar-button {
    padding: 10px 15px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background-color: #0056b3;
    color: white;
  }
  